@use "modern_css_reset.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@mixin grid-center($auto-flow: row, $box-axis: center, $inline-axis: center) {
    display: grid;
    justify-content: $inline-axis;
    align-items: $box-axis;
    grid-auto-flow: $auto-flow;
}

:root {
    --main-color: #0d9488;
    --side-color: #FBAF00;
    --grey-color: #E3E8EF;
    --grey-medium: #c6cacf;
    --darker-grey: #94989d;
    --title-font-size: 1.8rem;
    --nav-font-size: 1.4rem;
    --profile-picture-size: 4rem;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid: auto 1fr / auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

body>nav {
    grid-area: sidebar;
    background-color: var(--main-color);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
}

.dashboard-icon {
    font-size: 3rem;
}

.notification-icon {
    font-size: 2rem;
}

a:any-link {
    text-decoration: none;
}

button {
    font-family: inherit;
}

nav {
    display: grid;
    grid-template-rows: 5rem repeat(10, 2rem);
    padding: 1rem;
    gap: 1rem;
    min-width: 18rem;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48;
    }

    div {
        @include grid-center(column, center, start);
        align-items: center;
        gap: 1rem;
    }

    div:first-child {
        margin: -2rem 0 0;
    }

    div:not(:first-child) {
        padding: 0 0 0 .75rem;
    }

    .material-symbols-outlined,
    h1,
    a {
        color: white;
    }

    a:any-link {
        font-size: var(--nav-font-size)
    }

    a:any-link,
    h1 {
        font-weight: 500;
    }

    h1 {
        display: inline-block;
        font-size: var(--title-font-size);
    }
}

header {
    @include grid-center(row, center, center);

    display: grid;
    grid-template: auto auto / 1fr repeat(3, 8rem);
    padding: 1rem 4rem;
    row-gap: 1rem;
    box-shadow: 0 4px 4px var(--grey-medium);
    position: relative;
    z-index: 2;

    .search,
    .greeting-display {
        @include grid-center(column, center, start);
    }

    .user-display {
        @include grid-center(column, center, end);
    }

    >button {
        @include grid-center(column, center, center);
    }
}

label[for="search"] {
    line-height: 0;
}

.search {
    grid-template-columns: auto minmax(5rem, 80%);
    gap: 1rem;
}

#search {
    background-color: var(--grey-color);
    border: 0;
    border-radius: 20px;
    min-height: 2.5rem;
}

.user-display {
    grid-column: 2 / -1;
    gap: .5rem;

    p {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.notification-bell {
    border: none;
}

.profile-picture,
.notification-bell {
    background-color: inherit;
}

.profile-picture {
    min-height: var(--profile-picture-size);
    min-width: var(--profile-picture-size);
    border: var(--grey-color) solid 1px;
    border-radius: 50%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 1px var(--grey-color);
}

.corgi {
    background-image: url(./../img/dog_corgi_tricolor.png);
}

.springer-spaniel {
    background-image: url(./../img/dog_english_springer_spaniel.png);
}

.great-dane {
    background-image: url(./../img/dog_great_dane.png);
}

.youkai {
    background-image: url(./../img/youkai_jinmenken.png);
}

.greeting-display {
    gap: 1rem;

    p {
        font-weight: 500;
    }
}

.user-name-full {
    font-weight: 700;
    font-size: 1.8rem;
}

.profile-picture-big {
    min-height: calc(var(--profile-picture-size) * 1.25);
    min-width: calc(var(--profile-picture-size) * 1.25);
}

.post-control {
    background-color: var(--main-color);
    border: none;
    border-radius: 24px;
    min-height: 3rem;
    max-width: 7rem;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

main {
    background-color: var(--grey-color);
    display: grid;
    grid-template: 1fr 1fr / 2.5fr 1fr;

    >div {
        padding: 1.5rem 1rem;
    }

    h1 {
        font-weight: 500;
        font-size: 1.4rem;
        margin: 0 0 .5rem;
    }

    >div:first-child {
        grid-row: 1 / -1;

        h1 {
            font-size: 1.6rem;
        }
    }

    p {
        color: var(--darker-grey);
    }

    .project,
    .aside {
        box-shadow: 2px 4px 4px var(--grey-medium);
    }
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
    gap: 1rem;

    h2 {
        font-weight: 500;
        font-size: 1.3rem;
    }
}

.project {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    padding: 1.5rem;
    border-left: 8px solid var(--side-color);
    border-radius: 8px 16px 16px 8px;

    footer {
        margin: 2rem 2rem 0 0;
        @include grid-center(column, center, end);
        gap: 1.5rem;
    }
}

.green-border {
    border-left: 8px solid #A7C957;
}

.red-border {
    border-left: 8px solid #DB5461;
}

.selected-icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
}